<!DOCTYPE html>
<html lang="en">
<head>
    <meta>
    <link rel="stylesheet" type="text/css" href="">
    <title></title>
</head>
<body>
    <h1>aenir -- A Fire Emblem stat comparison tool</h1>
    <nav><!-- Left-hand sidebar -->
        <a>Create</a>
        <a>Edit</a>
        <a>Compare</a>
        <!-- Might want to add in Contacts, About, How-To, etc. sections later onk-->
    </nav>
    <div><!-- Main content here--></div>
    <div><!-- Right-hand sidebar here --></div>

    <!-- Javascript may be a bit superfluous
    <script src=""></script>
        -->
</body>
</html>
