{% block content %}
<a href="{% url 'stat_compare:create' %}">Create</a>
<a href="{% url 'stat_compare:edit' %}">Edit</a>
<a href="{% url 'stat_compare:compare' %}">Compare</a>
{% endblock %}

{% block application %}

{% endblock %}
