{% extends 'home/base.jinja' %}

{% block content %}

  <div class="left-sidebar">
    <a href="{% url 'stat_compare:create' %}">Create</a>
    <a href="{% url 'stat_compare:edit' %}">Edit</a>
    <a href="{% url 'stat_compare:compare' %}">Compare</a>
  </div>

  <div class="view-name">
    <h2>
      {% block view_name %}{% endblock %}
    </h2>
  </div>

  <div class="widget">
    {% block widget %}{% endblock %}
  </div>

  <div class="about-unit">
    <table>
      <thead>
        <th colspan="2">About</th>
      </thead>
      <tbody>
        {% block about_unit %}{% endblock %}
      </tbody>
    </table>
  </div>

  <div class="unit-history">
    <table>
      <thead>
        <tr>
          <th colspan="2">History</th>
        </tr>
        <tr>
          <th>Lv</th>
          <th>Class</th>
        </tr>
      </thead>
      {% block unit_history %}{% endblock %}
    </table>
  </div>

  <div class="stat-table">
    <table>
      {% block stat_table %}{% endblock %}
    </table>
  </div>

{% endblock %}
