{% extends 'home/base.jinja' %}
{% block content %}
<a href="{% url 'stat_compare:create' %}">Create</a>
<a href="{% url 'stat_compare:edit' %}">Edit</a>
<a href="{% url 'stat_compare:compare' %}">Compare</a>

{% block view_name %}{% endblock %}
{% block widget %}{% endblock %}
{% block about_unit %}{% endblock %}
{% block unit_history %}{% endblock %}
{% block stat_table %}{% endblock %}

{% endblock %}
