{% extends 'stat_compare/stat_compare.jinja' %}

{% block view_name %}{{ view_name }}{% endblock %}
{% block widget %}
<form action="{% url 'stat_compare:create' %}" method="post">
  {% csrf_token %}
  {{ form.media.js }}
  {{ form.as_p }}
  <input type="submit" />
</form>
{% endblock %}

{% block about_unit %}
  {% for label, value in about_table %}
    <tr>
      <th>{{ label }}</th>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
{% endblock %}
{% block unit_history %}{% endblock %}
{% block stat_table %}
<ul>
  <li>
    Select game; reload
  </li>
  <li>
    Select unit here.
  </li>
  <li>
    Create Morph; load extra options (e.g. Lyn Mode, FE4 fathers) as necessary
  </li>
  <li>
    Confirm selection and junk, or cancel. Create Morph id also.
  </li>
  <li>
    In a later edition, perhaps let user modify stats.
  </li>
</ul>
{% endblock %}
